body {
    background-color: #acd9f9;
    font-family: 'Roboto';
    align-items: center;
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    font-size: 70px;
    color: rgb(7, 49, 120);
    padding-bottom: 5px;
    margin-bottom: 0px;
    text-align: center;
}
h2{
    margin-top: 0px;
    color: rgb(7, 49, 120);
    margin-bottom: 0px;
    padding-bottom: 5px;
}
h3{
    margin-top: 0px;
    color: rgb(7, 49, 120);
}
.buttonContainers{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;
    padding: 10px;
}
button{
    background-color: rgb(162, 184, 234);
    width: 200px;
    height: 200px;
    font-size: 40px;
    border: 5px solid rgb(78, 90, 255);
    color: rgb(43, 92, 115);
}
button img{
    max-width: 70%;
    max-height: 70%;
    pointer-events:none;
}
.scoreboardArea{
    display: flex;
    justify-content: center;
    padding: 30px;
    gap: 5px;
    flex-wrap: wrap;
}
.scoreboardArea h2{
    font-weight: bolder;
    padding: 0px 5px;
    color: rgb(0, 0, 0);
    margin-bottom: 2px;
}
.gameResultsContainer{
    width: 350px;
    border: 5px solid rgb(17, 69, 152);
    height: 273px;
    padding: 3px;
    background-color: rgb(208, 216, 236);
    overflow: auto;
}
.gameResultsHeader{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#gameResults p {
    font-size: 18px;
    border: 5px solid black;
    margin: 5px;
    padding: 4px;
}
.buttonClickNotif{
    border: 5px solid red;
}
#gameResultsMessageContainer{
    width: 350px;
    border: 5px solid rgb(17, 69, 152);
    height: 273px;
    padding: 3px;
    background-color: rgb(208, 216, 236);
    display: flex;
    align-items: center;
    flex-direction: column;
}
#gameResultsMessage{
    font-size: 60px;
    text-align: center;
    font-weight: bolder;
    margin: auto auto;
    padding: 0px 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}
#gameResultsMessage img{
    max-width: 40%;
    max-height: 70%;
    padding: 10px;
}
#scoreCounterContainer{
    width: 350px;
    border: 5px solid rgb(17, 69, 152);
    height: 273px;
    padding: 3px;
    background-color: rgb(208, 216, 236);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.scoreCounterMessageContainer{
    display: flex;  
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-top: auto;
    margin-bottom: auto;
}
.scoreCounterMessageContainer div{
    display: flex;
    width: 255px;
    border: 5px solid black;
    justify-content: flex-end;
    padding-right: 85px;
}
.scoreCounterMessageContainer div p{
    font-size: 20px;
    font-weight: bolder;
    margin: 10px 0px;
}
#playerWinsContainer{
    background-color: green;
    color: white;
}
#computerWinsContainer{
    background-color: red;
    color: white;
}
#gameTiesContainer{
    background-color: grey;
    color: white;
}
.winnerIsGreen{
    background-color: green;
    color: white;
    border: 4px solid black;
}
.loserIsRed{
    background-color: red;
    color: white;
    border: 4px solid black;
}
.tieIsGray{
    background-color: gray;
    color: white;
    border: 5px solid black;
}
#prependingBorder{
    border: 5px solid white;
    
}